Repository mui-org/material-ui-pickers, pull requests merged in 2018-03, with the labels that each got.

#264 Rewrote documentation
  .vscode/settings.json
  README.md
  docs/.eslintrc
  docs/.firebaserc
  docs/config/webpack.config.dev.js
  docs/config/webpack.config.prod.js
  docs/firebase.json
  docs/package-lock.json
  docs/package.json
  docs/public/index.html
  docs/src/App.js
  docs/src/Demo/Demo.jsx
  docs/src/Demo/Examples/BasicUsage.jsx
  docs/src/Demo/components/MarkdownElement.jsx
  docs/src/Examples/CodeSnippets/MuiPickerProviderCode.jsx
  docs/src/Examples/CodeSnippets/QuickStart.jsx
  docs/src/Examples/Demo/BasicDatePicker.jsx
  docs/src/Examples/Demo/BasicDateTimePicker.jsx
  docs/src/Examples/Demo/CustomDateTimePicker.jsx
  docs/src/Examples/Demo/CustomElementsDatePicker.jsx
  docs/src/Examples/Demo/KeyboardDatePicker.jsx
  docs/src/Examples/Demo/KeyboardTimePicker.jsx
  docs/src/Examples/Demo/TimePickerBasic.jsx
  docs/src/Examples/PersianPickers.jsx
  docs/src/Routes/Demos/DatePickerDemo.jsx
  docs/src/Routes/Demos/DateTimePickerDemo.jsx
  docs/src/Routes/Demos/TimePickerDemo.jsx
  docs/src/Routes/Demos/index.jsx
  docs/src/Routes/GettingStarted/Installation.jsx
  docs/src/Routes/GettingStarted/Usage.jsx
  docs/src/Routes/Landing/Landing.css
  docs/src/Routes/Landing/Landing.jsx
  docs/src/Routes/Routes.jsx
  docs/src/_shared/Code.jsx
  docs/src/_shared/GithubIcon.jsx
  docs/src/_shared/SourcablePanel.jsx
  docs/src/index.css
  docs/src/index.js
  docs/src/layout/DrawerMenu.jsx
  docs/src/layout/Layout.jsx
  docs/src/layout/NavigationMenu.jsx
  docs/src/registerServiceWorker.js
  docs/src/utils/prism.js
  lib/.eslintrc
  lib/src/_shared/PickerBase.jsx
  lib/src/utils/date-fns-utils.js
Labels: docs

#282 Feature/docs generation
  README.md
  docs/package-lock.json
  docs/package.json
  docs/prop-types.json
  docs/src/Routes/Demos/DatePickerDemo.jsx
  docs/src/Routes/Demos/DateTimePickerDemo.jsx
  docs/src/Routes/Demos/TimePickerDemo.jsx
  docs/src/_shared/PropTypesTable.jsx
  lib/__tests__/DatePicker/DatePickerWrapper.test.js
  lib/__tests__/DateTimePicker/DateTimePickerWrapper.test.js
  lib/__tests__/TimePicker/TimePickerWrapper.test.js
  lib/src/DatePicker/DatePickerWrapper.d.ts
  lib/src/DatePicker/DatePickerWrapper.jsx
  lib/src/DatePicker/index.d.ts
  lib/src/DatePicker/index.jsx
  lib/src/DateTimePicker/DateTimePicker.jsx
  lib/src/DateTimePicker/DateTimePickerTabs.jsx
  lib/src/DateTimePicker/DateTimePickerWrapper.d.ts
  lib/src/DateTimePicker/DateTimePickerWrapper.jsx
  lib/src/DateTimePicker/index.d.ts
  lib/src/DateTimePicker/index.jsx
  lib/src/TimePicker/TimePickerWrapper.d.ts
  lib/src/TimePicker/TimePickerWrapper.jsx
  lib/src/TimePicker/index.d.ts
  lib/src/TimePicker/index.jsx
  lib/src/_shared/DateTextField.jsx
  lib/src/_shared/ModalDialog.jsx
  lib/src/wrappers/ModalWrapper.jsx
Labels: docs

#281 Typescript: Add locale to MuiPickersUtilsProviderProps
  lib/src/utils/MuiPickersUtilsProvider.d.ts
Labels: typescript

#305 Add permanent class for modal dialog action to add ability override it
  docs/src/Examples/Guides/CssTheme.jsx
  lib/src/_shared/DateTextField.jsx
  lib/src/_shared/ModalDialog.jsx
Labels: docs, enhancement

#304 Add fading animation on moving between hours & minutes clocks
  docs/package-lock.json
  docs/package.json
  docs/prop-types.json
  docs/src/Examples/Demo/CustomDateTimePicker.jsx
  lib/src/DateTimePicker/DateTimePicker.jsx
  lib/src/DateTimePicker/DateTimePickerWrapper.jsx
  lib/src/TimePicker/TimePicker.jsx
  lib/src/TimePicker/TimePickerWrapper.jsx
Labels: enhancement

#312 [typescript] Fix 'utils' is not a constructor function type
  lib/__tests__/DatePicker/DatePickerWrapper.usage.tsx
  lib/__tests__/DatePicker/PatchedUtils.usage.tsx
  lib/__tests__/test-utils.d.ts
  lib/src/typings/utils.d.ts
  lib/src/utils/MuiPickersUtilsProvider.d.ts
  lib/src/utils/date-fns-utils.d.ts
  lib/src/utils/moment-utils.d.ts
Labels: typescript
