Repository mui-org/material-ui-pickers, pull requests merged in 2019-07, with the labels that each got.

#1160 Do not throw error if input value was cleared symbol by symbol
  e2e/integration/DatePicker.spec.ts
  lib/src/_shared/KeyboardDateInput.tsx
  lib/src/_shared/hooks/useKeyboardPickerState.ts
Labels: 🐛 bug

#1163 Fix variant prop displaying, highlight type code
  docs/_shared/Code.tsx
  docs/_shared/PropTypesTable.tsx
  docs/prop-types.json
  docs/scripts/docgen.js
  lib/src/DatePicker/DatePicker.tsx
Labels: docs

#1189 [docs] Add redux form integration example
  docs/package.json
  docs/pages/guides/ReduxForm.example.jsx
  docs/pages/guides/form-integration.mdx
  yarn.lock
Labels: docs

#1208 Add inputProps to the outputted typescript definitions
  lib/src/__tests__/e2e/DatePicker.test.tsx
  lib/src/_shared/KeyboardDateInput.tsx
  lib/src/_shared/PureDateInput.tsx
Labels: typescript
