Repository mui-org/material-ui-pickers, pull requests merged in 2020-07, with the labels that each got.

#1953 [DateRangePicker] Properly call `renderDayProp`
  docs/prop-types.json
  lib/src/DateRangePicker/DateRangePickerDay.tsx
  lib/src/DateRangePicker/DateRangePickerView.tsx
  lib/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  lib/src/DateRangePicker/DateRangePickerViewMobile.tsx
  lib/src/__tests__/DateRangePicker.test.tsx
Labels: bug 🐛, component: DateRangePicker

#1949 [DateTimePicker] Always show arrow switcher in clock
  docs/pages/demo/datepicker/CustomDay.example.jsx
  docs/pages/demo/daterangepicker/MinMaxDateRangePicker.example.tsx
  docs/pages/guides/CssOverrides.example.tsx
  docs/pages/guides/DateAdapterProp.example.jsx
  docs/pages/guides/Formats.example.jsx
  docs/pages/guides/FormikValidationSchema.example.tsx
  docs/pages/guides/OverrideLogic.example.jsx
  docs/pages/localization/Date-fns.example.jsx
  docs/pages/localization/Moment.example.jsx
  lib/src/Picker/Picker.tsx
  lib/src/__tests__/DatePicker.test.tsx
  lib/src/__tests__/DateTimePicker.test.tsx
  lib/src/__tests__/DateTimePickerRoot.test.tsx
  lib/src/__tests__/DateTimePickerTestingLib.test.tsx
  lib/src/__tests__/KeyboardDatePicker.test.tsx
  lib/src/__tests__/Theme.test.tsx
  lib/src/__tests__/TimePicker.test.tsx
  lib/src/__tests__/Validation.test.tsx
  lib/src/views/Clock/ClockView.tsx
Labels: bug 🐛, component: DateTimePicker

#1966 [typescript] Generic date type
  docs/layout/components/navigationMap.ts
  docs/pages/demo/daterangepicker/BasicDateRangePicker.example.tsx
  docs/pages/demo/daterangepicker/CalendarsDateRangePicker.example.tsx
  docs/pages/demo/daterangepicker/CustomRangeInputs.example.tsx
  docs/pages/demo/daterangepicker/MinMaxDateRangePicker.example.tsx
  docs/pages/demo/daterangepicker/ResponsiveDateRangePicker.example.tsx
  docs/pages/demo/daterangepicker/StaticDateRangePicker.example.tsx
  docs/pages/guides/typescript.mdx
  docs/prop-types.json
  docs/scripts/docgen.js
  docs/typings.d.ts
  lib/.size-snapshot.json
  lib/src/DateRangePicker/DateRangePicker.tsx
  lib/src/DateRangePicker/DateRangePickerInput.tsx
  lib/src/DateRangePicker/DateRangePickerView.tsx
  lib/src/DateRangePicker/DateRangePickerViewDesktop.tsx
  lib/src/DateRangePicker/DateRangePickerViewMobile.tsx
  lib/src/DateRangePicker/RangeTypes.ts
  lib/src/DateRangePicker/date-range-manager.ts
  lib/src/DateTimePicker/DateTimePickerToolbar.tsx
  lib/src/DateTimePicker/date-time-utils.ts
  lib/src/Picker/Picker.tsx
  lib/src/Picker/SharedPickerProps.tsx
  lib/src/Picker/makePickerWithState.tsx
  lib/src/TimePicker/TimePickerToolbar.tsx
  lib/src/__tests__/DatePicker.test.tsx
  lib/src/__tests__/DateTimePicker.test.tsx
  lib/src/__tests__/TimePicker.test.tsx
  lib/src/__tests__/Validation.test.tsx
  lib/src/__tests__/test-utils.tsx
  lib/src/__tests__/typescript/GenericValues.tstest.tsx
  lib/src/__tests__/typescript/Overrides.tstest.tsx
  lib/src/__tests__/typescript/ThemeDefaultProps.tstest.tsx
  lib/src/_helpers/date-utils.ts
  lib/src/_helpers/time-utils.ts
  lib/src/_shared/PureDateInput.tsx
  lib/src/_shared/hooks/date-helpers-hooks.tsx
  lib/src/_shared/hooks/useUtils.ts
  lib/src/_shared/hooks/useViews.tsx
  lib/src/_shared/withDateAdapterProp.tsx
  lib/src/constants/prop-types.ts
  lib/src/index.ts
  lib/src/typings/BasePicker.tsx
  lib/src/typings/date.ts
  lib/src/typings/index.ts
  lib/src/views/Calendar/Calendar.tsx
  lib/src/views/Calendar/CalendarHeader.tsx
  lib/src/views/Calendar/CalendarView.tsx
  lib/src/views/Calendar/Day.tsx
  lib/src/views/Calendar/MonthSelection.tsx
  lib/src/views/Calendar/YearSelection.tsx
  lib/src/views/Calendar/useCalendarState.tsx
  lib/src/views/Clock/Clock.tsx
  lib/src/views/Clock/ClockNumbers.tsx
  lib/src/views/Clock/ClockView.tsx
  lib/src/wrappers/makeWrapperComponent.tsx
Labels: typescript

#1975 [core] Use the same start command as main
  CONTRIBUTING.md
  package.json
Labels: core

#1967 [DatePicker] Don't run onChange if same date selected
  docs/prop-types.json
  lib/src/DateRangePicker/DateRangePickerDay.tsx
  lib/src/__tests__/DatePickerTestingLib.test.tsx
  lib/src/_shared/hooks/usePickerState.ts
  lib/src/views/Calendar/Day.tsx
Labels: bug 🐛, component: DatePicker

#2016 [DateTimePicker] Allow same date selection
  lib/src/DateRangePicker/DateRangePickerDay.tsx
  lib/src/DateTimePicker/DateTimePicker.tsx
  lib/src/__tests__/DateTimePickerTestingLib.test.tsx
  lib/src/views/Calendar/Calendar.tsx
Labels: bug 🐛, component: DateTimePicker

#2030 [docs] Migrate demos to TypeScript
  docs/_shared/PageMeta.tsx
  docs/_shared/svgIcons/Logo.tsx
  docs/package.json
  docs/pages/demo/datepicker/CustomDay.example.tsx
  docs/pages/demo/datepicker/CustomInput.example.tsx
  docs/pages/demo/datepicker/DatePickers.example.tsx
  docs/pages/demo/datepicker/ServerRequest.example.tsx
  docs/pages/demo/datepicker/StaticDatePicker.example.tsx
  docs/pages/demo/datepicker/ViewsDatePicker.example.tsx
  docs/pages/demo/daterangepicker/CalendarsDateRangePicker.example.tsx
  docs/pages/demo/daterangepicker/CustomRangeInputs.example.tsx
  docs/pages/demo/daterangepicker/MinMaxDateRangePicker.example.tsx
  docs/pages/demo/daterangepicker/ResponsiveDateRangePicker.example.tsx
  docs/pages/demo/daterangepicker/StaticDateRangePicker.example.tsx
  docs/pages/demo/datetime-picker/BasicDateTimePicker.example.tsx
  docs/pages/demo/datetime-picker/CustomDateTimePicker.example.tsx
  docs/pages/demo/datetime-picker/DateTimePickers.example.tsx
  docs/pages/demo/datetime-picker/DateTimeValidation.example.tsx
  docs/pages/demo/timepicker/BasicTimePicker.example.tsx
  docs/pages/demo/timepicker/SecondsTimePicker.example.tsx
  docs/pages/demo/timepicker/StaticTimePicker.example.tsx
  docs/pages/demo/timepicker/TimePickers.example.tsx
  docs/pages/demo/timepicker/TimeValidation.example.tsx
  docs/pages/getting-started/usage.mdx
  docs/pages/guides/Accessibility.example.tsx
  docs/pages/guides/ControllingProgrammatically.example.tsx
  docs/pages/guides/CssOverrides.example.tsx
  docs/pages/guides/CssTheme.example.tsx
  docs/pages/guides/CssThemeSpacing.example.tsx
  docs/pages/guides/DateAdapterProp.example.tsx
  docs/pages/guides/Formats.example.tsx
  docs/pages/guides/OverrideLogic.example.tsx
  docs/pages/guides/StaticComponents.example.jsx
  docs/pages/guides/StaticComponents.example.tsx
  docs/pages/guides/static-components.mdx
  docs/pages/localization/Date-fns.example.tsx
  docs/pages/localization/Hijri.example.tsx
  docs/pages/localization/Moment.example.tsx
  docs/pages/localization/Persian.example.tsx
  docs/pages/localization/calendar-systems.mdx
  docs/pages/localization/date-fns.mdx
  docs/prop-types.json
  docs/tsconfig.json
  docs/typings.d.ts
  lib/src/_shared/hooks/useUtils.ts
  lib/src/index.ts
  yarn.lock
Labels: docs

#2034 [core] Batch small changes
  .circleci/config.yml
  docs/assets/mui-logo.svg
  docs/assets/pickers-logo.png
  docs/pages/guides/css-overrides.mdx
  docs/pages/guides/upgrading-to-v3.mdx
Labels: core

#2036 [test] Add yarn deduplicate step
  .circleci/config.yml
  package.json
  scripts/deduplicate.js
  yarn.lock
Labels: test

#1955 [DatePicker] Add test for textbox aria-invalid
  .circleci/config.yml
  lib/package.json
  lib/src/__tests__/DatePickerTestingLib.test.tsx
  lib/src/__tests__/DateTimePickerTestingLib.test.tsx
  lib/src/__tests__/KeyboardDatePicker.test.tsx
  lib/src/__tests__/Validation.test.tsx
Labels: component: DatePicker, test
